* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(210, 60%, 98%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}